APP_ENV=development
PORT=8080

POSTGRES_DB=bevshop
POSTGRES_USER=bevshop
POSTGRES_PASSWORD=your_password_here

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=beverages
DATABASE_USER=postgresql
DATABASE_PASSWORD=1234

REDIS_HOST=redis
REDIS_PORT=6379

TZ=Africa/Kigali